:root {
  --body-font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  --color-primary: #e11d3f;
}

.App {
  font-family: var(--body-font);
  margin: 1rem;
}

.App-header {
  display: flex;
  align-items: center;
  border-bottom: 4px var(--color-primary) solid;
}

.App-header img {
  height: 9rem;
}

.App-header h1 {
  color: var(--color-primary);
}

.App-body {
  margin: 4rem 3rem;
  font-size: 1.1rem;
  color: black;
  height: 20rem;
}

.App-footer {
  text-align: center;
  border-top: 4px var(--color-primary) solid;
  font-style: italic;
}